*{ margin: 0px;
	padding: 0px; }

.primer{ width: 50%;
		height: 200px; }

.clear{ clear:left; }

.left{ width: 10%;
		height: 10%;
		background: green;
		border: 1px solid black;
		float: left;
		color: white; }

.left:hover{ background: brown;
		color: white;
		border: 2px white; }

.menu{ background: cyan;
		color: black; 
		width: 90px;
		float: left; }

#cinc{ visibility: hidden; }

#dos{ display: none; }

.text{ width: 200px;
		height: 250px;
		background: pink;
		overflow: auto;
		margin: 5%; }

p{ margin: 5%; }

.zindex{ width: 300px;
		height: 250px;
		border: 1px solid black;
		background: #E724C4; }

.capsa1{ position: absolute;
		top: 165%;
		left: 16%;
		z-index: 2;  }

.capsa2{ position: absolute;
		top: 195%;
		left: 26%; }

.capsa3{ position: absolute;
		top: 135%;
		left: 6%; }

.zindex:hover{ z-index: 3; }
