body{ background-image: url("../img/body.gif"); }

#header img{ width: 50px;
			height: 50px; }


#header h1{ position: absolute;
			top: 8px;
			left: 60px;
			font-size: 20px;
			color: black; }
			
ul{ float: left;
	width: 100%;
	height: 55px;
	background: black;
	color: white;
	list-style: none; }

li{ float: left;
	position: static;
	padding: 15px; }

#imggorila img{ width: 350px;
				height: 350px;
				position: absolute;
				left: 180px;
				top: 133px; }

#imggorila span{ background: green;
				font-size: 30px;
				font-family: Verdana;
				color: white;
				position: absolute;
				top: 298px;
				right: 100px; }

#video iframe{ position: absolute;
				left: 550px;
				bottom: -176px; }
